.header__lang-link {
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #ffffff;
    text-decoration: none;
    margin-right: 18px;
}

.header__lang-link:last-child {
    margin-right: 0;
}

.header__lang-link:hover {
    border: 0 solid #fff;
    border-bottom: 2px solid #fff;

    opacity: 0.8;
}

@media screen and (max-width: 767px) {
    .header__lang-link {
        font-size: 18px;
        line-height: 20px;
    }
}