.header {
    margin: 28px 48px 56px 48px;
    max-width: 1184px;
    height: 52px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    box-sizing: content-box;
}

@media screen and (max-width: 1279px) {
    .header {
        margin: 28px auto 48px auto;
        max-width: 928px;
    }
}

@media screen and (max-width: 1023px) {
    .header {
        margin: 28px auto 48px auto;
        max-width: 720px;
    }
}

@media screen and (max-width: 767px) {
    .header {
        margin: 16px 16px 48px 16px;
        max-width: 100%;
    }
}

