.footer__link {
    margin: 0 18px 0 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #FFFFFF;
    transition: color 0.5s ease-in-out;
    text-decoration: none;
}

.footer__link:hover {
    opacity: .4;
}

@media screen and (max-width: 767px) {
    .footer__link {
        margin: 0 0 32px 0;
        font-size: 24px;
        line-height: 24px;
        color: #FFFFFF;
    }
    .footer__link:last-child {
        margin: 0 0 48px 0;
        color: #FFFFFF;
    }
}