.lead__image {
    display: block;
    margin: 0 0 8px 0;
    width: 100%;
    height: 615px;
}

@media screen and (max-width: 1279px) {
    .lead__image {
        height: 580px;
    }
}
@media screen and (max-width: 1023px) {
    .lead__image {
        height: 480px;
    }
}
@media screen and (max-width: 767px) {
    .lead__image {
        height: auto;
    }
}