.intro__text {
    margin: 0;
    width: 690px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
}

@media screen and (max-width: 1023px) {
    .intro__text {
        width: 100%;
    }
}