.intro {
    margin: 92px auto 92px auto;
    max-width: 984px;
}

@media screen and (max-width: 1279px) {
    .intro {
        max-width: 928px;
    }
}

@media screen and (max-width: 1023px) {
    .intro{
        margin: 88px auto 88px auto;
        max-width: 720px;
    }
}

@media screen and (max-width: 767px) {
    .intro {
        margin: 64px auto 64px auto;
        max-width: 100%;
    } }

@media screen and (max-width: 767px) {
    .intro {
        margin: 64px 16px 64px 16px;
    } }