.cover__text {
    position: relative;
    text-decoration: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    width: 540px;
    min-height: 740px;
    margin: auto;
}

@media screen and (max-width: 767px) {
    .cover__text {
        min-height: 200px;
        width: 100%;
    }
}