.cover {
    max-width: 1184px;
    height: 740px;
    margin: 92px auto;

}


@media screen and (max-width: 1279px) {
    .cover {
        max-width: 1024px;
    }
}

@media screen and (max-width: 1023px) {
    .cover {
        max-width: 768px;
    }
}

@media screen and (max-width: 767px) {
    .cover {
        height: 200px;
        max-width: 100%;
        margin: 66px auto 64px auto;
    }
}

