.place__span {
    display: block;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 2px;
    color: #AAAAAA;
}

@media screen and (max-width: 767px) {
    .place__span{
     margin-top: 32px;
    }
}