.footer {
    margin: 92px auto 24px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1184px;
    align-items: flex-end;
}

@media screen and (max-width: 1279px) {
    .footer {
        max-width: 928px;
        margin: 92px auto 24px auto;
    }
}

@media screen and (max-width: 1023px) {
    .footer {
        max-width: 720px;
        margin: 88px auto 24px auto;
    }
}

@media screen and (max-width: 767px) {
    .footer {
        max-width: 80%;
        margin: 64px 0 24px 16px;
    }
}